/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }




@font-face {
    font-family: 'osb';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'oscb';
    src: url('../fonts/opensans-condbold-webfont.eot');
    src: url('../fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-condbold-webfont.woff') format('woff'),
         url('../fonts/opensans-condbold-webfont.ttf') format('truetype');
    font-weight: normal !important;
    font-style: normal !important;
    letter-spacing: 1px;
}




@font-face {
    font-family: 'osl';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'osi';
    src: url('../fonts/opensans-italic-webfont.eot');
    src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'osli';
    src: url('../fonts/opensans-lightitalic-webfont.eot');
    src: url('../fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/opensans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/*COLORS

maform red: #ba282e;

COLORS*/


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== 

.lte-ie9 body{
  max-width: 980px;
  margin: 0 auto;
}
*/


input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
   -webkit-appearance: none; 
  -moz-appearance: none; /* mobile firefox too! */
  border-radius: 0 !important;
}


/* FONT RESIZE */

hgroup h1,h1{
  font-size: 2em;
}

hgroup h2,.formy input[type="submit"]{
  font-size: 1.5em;
}

h3{
 font-size: 2em;
}

#portfolio .element h3{
  font-size: 1.2em;
}

p,footer li a,#language,#logout{
  font-size: 1em;
}

#cta a{
  font-size: 1em;
}

nav li a{
  font-size: 1em;
}

label,.formy input[type="email"],.formy input[type="text"],.formy textarea,#form .clearfix a{
  font-size: 1em;
}

@media (min-width:481px) and (max-width:979px){
  hgroup h1,h1{
    font-size: 2.4em;
  }

  hgroup h2{
    font-size: 1.8em;
  }

.formy input[type="submit"]{
    font-size: 1.6em;
}

  h3{
   font-size: 2.4em;
  }

  #portfolio .element h3{
  font-size: 1.7em;
}

  p,footer li a,#language,#logout{
    font-size: 1.2em;
  }

  #cta a{
    font-size: 1.2em;
  }

  nav li a{
    font-size: 1.2em;
  }

  label,.formy input[type="email"],.formy input[type="text"],.formy textarea,#form .clearfix a{
    font-size: 1.2em;
  }
}

@media (min-width:980px){
  hgroup h1,h1{
    font-size: 2.88em;
  }

  hgroup h2{
    font-size: 2.16em;
  }

.formy input[type="submit"]{
    font-size: 1.96em;
  }

  h3{
   font-size: 2.88em;
  }

  #portfolio .element h3{
  font-size: 2em;
}

  p,footer li a,#language,#logout{
    font-size: 1.44em;
  }

  #cta a{
    font-size: 1.44em;
  }
  nav li a{
   font-size: 1.44em;
  }

  label,.formy input[type="email"],.formy input[type="text"],.formy textarea,#form .clearfix a{
    font-size: 1.44em;
  }
}

h1,h2,h3,h4,em,b,strong{
  font-weight: normal !important;
  font-style: normal !important;
}

img{
  max-width: 100%;
}

html{
  width: 100%;
  font-family: 'osli';
  color:#000;
}

strong{
  font-family: 'osi';
  font-weight: normal;
}

header,footer,#content,body{
  max-width: 1400px;
  margin: 0 auto;
  background: url(../img/pattern.png) repeat #aaa;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
 header,footer,#content,body{
  background: url(../img/pattern@2x.png) repeat #aaa;
  -webkit-background-size: 150px 150px;  
  -moz-background-size: 150px 150px;  
  background-size: 150px 150px;  
  }
}

body{
  /*box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.4);*/
}



header{
  width:100%;
  position: relative;
}

#logo{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0;
  display:block;
}

#logo img{
  max-width: 50%;
}


nav{
  width:100%;
  font-family: 'oscb';
  margin-bottom: 10px;
}

#content{
  margin-top: 10px;
}

nav ul{
  overflow: hidden;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.6);  /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF,endColorstr=#99FFFFFF); /* IE6–IE9 */
  zoom: 1;

}

nav li{
    width:33.33333333%;
    float:left;
    text-align: center;
    padding:1% 0;
  }

  .no-touch nav li a:hover,nav li a:focus,nav li a.active{
    color:#ba282e;
  }

  .no-touch nav li a:active{
    position: relative;
    top: 1px;
  }

nav li a{
  text-decoration: none;
  color:#000;
  display:block;
  text-transform: uppercase;
  border-right: 1px solid #aaa;
  padding:1% 0;
  -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
  transition: all 0.3s ease-in-out;  /* Firefox 16+ */
}

nav li:last-child a{
  border: none;
}

#language{
  position: absolute;
  top:10px;
  right:5px;
}

#language a{
  -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
  transition: all 0.3s ease-in-out;  /* Firefox 16+ */ 
  color:#000;
  opacity: 0.5;
  text-decoration: none;
  padding:15px 10px 15px 10px;
}

.no-touch #language a:hover,#language a:focus,#language a.active{
  opacity: 1;
}

hgroup{
  width: 100%;
  text-align: center;
  margin:0;
  position: relative;
  z-index:3;
}

hgroup {
  position: relative;
  background: url(../img/pattern-red.png) repeat #ba282e;
  color:white;
  overflow: hidden;
}

hgroup h2 span{
  display: block;
  opacity: 0.6;
}

hgroup h2 span a{
  color:white;
  text-decoration: underline;
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
 hgroup{
  background: url(../img/pattern-red@2x.png) repeat #ba282e;
  -webkit-background-size: 150px 150px;  
  -moz-background-size: 150px 150px;  
  background-size: 150px 150px;  
  }
}

hgroup h1,hgroup h2{
  margin:0;
  padding:0 5%;
}

hgroup h1{
  text-transform: uppercase;
  font-family: 'oscb';
  margin-top: 4%;
}

hgroup h2{
  text-transform: lowercase;
  font-family: 'osl';
  margin-bottom: 4%;
}

#members,#steps,#form{
  width:90%;
  margin: 0 auto;
  padding: 0 5%;
}

.member,.step{
  width:100%;
  text-align: center;
  margin:80px auto;
  position: relative;
  max-width: 320px;
}

.member h3,.step h3,.text h3{
  font-family: 'oscb';
  text-transform: uppercase;
  margin-top: 3%;
  margin-bottom: 0;
}

.member p,.step p,.text p{
  margin-top: 0;
}

.cv{
  background: #000;
  color:#fff;
  text-align: center;
  height:60px;
  width:60px;
   -webkit-border-radius: 30px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
          border-radius: 30px; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  line-height: 60px;
  display: block;
  text-decoration: none;
  font-family: 'oscb';
  font-weight: normal;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.cv {
  position: absolute;
  right:15%;
  background: #000;
}
.cv:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left:-18px;
  pointer-events: none;
}

.cv:after {
  border-right-color: #000;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

.no-touch .cv:hover,.no-touch .cv:focus{
  background: #ba282e;
  color:white;
}

.no-touch .cv:hover:after{
  border-right-color:#ba282e
}


#cta{
  width:90%;
  padding: 0 5%;
  margin-bottom: -50px;
  overflow: hidden;
}

#cta a{
  position: relative;
  z-index: 1;
  width:30%;
  padding-top: 30px;
  float:left;
  text-decoration: none;
  color:#000;
  text-align: center;
  border-bottom:1px dashed;
  opacity:0.6;
  -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
  transition: all 0.3s ease-in-out;  /* Firefox 16+ */
}

#cta a:hover,#cta a:focus{
  opacity: 1;
}

.most{
  width:40% !important;
  color:#fff !important;
  padding: 0 !important;
  border:none !important;
  margin: 0 !important;
  opacity: 1 !important;
  z-index: 2 !important;
}

.most b{
  background:#ba282e;
  text-align: center;
  border-radius: 100px;
  width:100px;
  height:100px;
  margin: 0 auto;
  display:block;
  line-height: 100px;
  font-family: 'oscb';
  text-transform: uppercase;
  border: 10px solid #eee;
  -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
  transition: all 0.3s ease-in-out;  /* Firefox 16+ */
}

.most:hover b,.most:focus b{
  background: #ce2e3a;
}

#form{
  text-align: center;
  margin: 80px 0;
}

#form .clearfix a{
  background:#ccc;
  text-align: center;
  border-radius: 100px;
  width:100px;
  height:100px;
  display:inline-block;
  line-height: 100px;
  font-family: 'oscb';
  text-transform: uppercase;
  text-decoration: none;
  color:#fff;
  margin: 0 10%;
}

#form .clearfix a:hover,#form .clearfix a:focus,#form .clearfix a.active{
  background: #000;
}

#form .clearfix a:hover:after,#form .clearfix a:focus:after,#form .clearfix a.active:after{
  border-top-color: #000;
}

#form .clearfix a {
  position: relative;
  background: #ccc;
}
#form .clearfix a:after {
  top: 99%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

#form .clearfix a:after {
  border-top-color: #ccc;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}

.formy{
  margin-top: 80px;
}

.formy fieldset{
  margin:40px 0;
  text-align: center;
}

.formy label{
  display: block;
  margin-bottom:10px;
}

.formy input[type="email"],.formy input[type="text"],.formy textarea{
  width:98%;
  border:none;
  background:white;
  padding:0;
  margin: 0;
  border-bottom:1px dashed #000 !important;
  color:#ba282e;
  font-family: 'osli';
  padding:1%;
  text-align: center;
  border-radius: none;
}

.formy textarea{
  text-align: left;
}

.formy input[type="submit"]{
  border:none;
  padding:0;
  margin: 0;
  background:none;
  width:100%;
  padding:2% 1%;
  font-family: 'oscb';
  background:#ba282e;
  color:#fff !important;
  text-transform: uppercase;
  border-radius: 0 !important;
  -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
  transition: all 0.3s ease-in-out;  /* Firefox 16+ */
}

.formy input[type="submit"]:disabled,.formy input[type="submit"][disabled=disabled],.formy input[type="submit"].disabled{
  color:#fff !important;
}

.formy input[type="submit"]:hover,.formy input[type="submit"]:focus{
    background: #ce2e3a;
  }

.formy input[type="submit"]:active{
    top:1px;
    position: relative;
  }



#data{
  width: 90%;
  padding: 0 5%;
  text-align: center;
}

#data b{
  font-family: 'osb';
  font-size: 1.2em;
}

#project{
  margin-bottom: 80px;
}

#project .text{
  width: 90%;
  padding: 0 5%;
  text-align: center;
  margin: 80px auto;
  position: relative;
  max-width: 480px;
}

#project .text h3{
  text-transform: uppercase;
}

#project .text a,#project figure p a{
  color: #000;
  text-decoration: underline;
  opacity:0.8;
  -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-in-out
          ;  /* Firefox 16+ */
}

.no-touch .text a:hover,.no-touch #project figure p a:hover,#project .text a:focus,#project figure p a:focus{
  opacity:1;
}

#project h3{
  font-family: 'oscb';
}

#project img{
  max-width: 100%;
}

#project figure{
  margin: 80px 0;
}

#project figure div.video{
  position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

#project figure div.video iframe{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#project figure p{  
  width: 90%;
  margin: 10px auto;
  padding: 0 5%;
  text-align: center;
  max-width: 480px;
}

#portfolio{
  overflow: hidden;
  position: relative;
  padding: 5%;
}

#portfolio a{
  display: block;
  text-decoration: none;
  color:#fff;
}

.no-touch #portfolio .element .data{
  bottom: -100%;
   -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
       -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-in-out
          ;  /* Firefox 16+ */
}

.no-touch #portfolio .element a:hover .data,.no-touch #portfolio .element a:focus{
  bottom:0;
}

#portfolio .element{
  margin:5% 5%;
  position: relative;
  overflow:hidden;
}

#portfolio .element .data{
  position: absolute;
  bottom:0;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000); 
  zoom: 1;
  width:100%;
  text-align: center;
  padding:5% 0;
}

.badge{
  position: absolute;
  top:3%;
  left: 1%;
}

#portfolio .element p,#portfolio .element h3{
  width: 90%;
  text-align: center;
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  color:#fff !important; 
}

#portfolio .element p{
  margin: 0 auto;
}

#portfolio .element h3{
  font-family: 'oscb';
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 0;
  padding:0 5%;
  width: 90%;
}

#portfolio-nav{
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.8);  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);
  zoom: 1;
  overflow: hidden;
  width:100%;
  margin:0;
  position: fixed;
  top:0;
  z-index: -1;
  opacity: 0;
  margin: 0 auto; 
  max-width: 1400px;
}

.no-touch #portfolio-nav.fixed{
  opacity: 1;
  z-index:2;
}

#portfolio-nav a{
  width:31.33333%;
  float: left;
  padding:1%;
  margin: 0;
}

.prev{
  text-align: left;
}

.all{
  text-align: center;
  font-family: 'oscb';
  margin: 0;
  text-transform: uppercase;
}

.next{
  text-align: right;
}

footer{
  width:90%;
  padding: 100px 5% 0 5%;
  background:#000;
  overflow: hidden;
}

footer p{
  margin:0 auto;
  width: 90%;
  padding:5%;
  text-align: center;
  color: #fff;
}

footer p a{
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
  padding-bottom: 2px;
}

footer p span{
  display: block;
}

footer ul{
  overflow: hidden;
  width: 100%;
  padding: 0;
}

footer li{
  padding:0.5%;
  width: 96%;
  border-bottom: 1px dashed #949494;
  text-align: center;
  overflow: hidden;
}

footer li a img{
  vertical-align: middle;
  margin-right: 20px;
  float:left;
  position: relative;
  opacity: 0.8;
}

footer li a div{
  display:inline;
}

footer a,#portfolio-nav a{
  color: #fff;
  text-decoration: none;
  opacity:0.6;
  -webkit-transition: all 0.3s ease-in-out;  /* Saf3.2+, Chrome */
  -moz-transition: all 0.3s ease-in-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-in-out;  /* Opera 10.5+ */
  transition: all 0.3s ease-in-out;  /* Firefox 16+ */
}

.no-touch footer a:hover,footer a:focus,#portfolio-nav a:hover,#portfolio-nav a:focus{
  opacity: 1;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/* Landscape phones and down */
  @media (max-width: 480px) {
   #form .clearfix a{
      border-radius: 75px;
      width:75px;
      height:75px;
      line-height: 75px;
    }


  }
 
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
    nav li{
      padding:3% 0 !important;
    }
    #cta a{
      width:30%;
      margin-left:0;
      margin-right:0;
    }
  }
 


  /*KB tablet*/
  @media (min-width: 701px) {
    #cta a{
      width:20%;
  padding-top: 30px;
  margin: 0 5%;
    }
    footer li{
      float: left;
      width:44%;
    }

    footer li a img{
      top:3px;
    }

    footer li:nth-child(odd){
      margin-right: 4%;
    }

    #portfolio .element{
      float:left;
      width:47.5%;
      margin-right:0;
      margin-left:0;
      margin-bottom: 5%;
      margin-top: 0;
    }

    #portfolio .element:nth-child(odd){
      margin-right: 5%;
    }

    .most b{
      border-radius: 150px;
      width:150px;
      height:150px;
      line-height: 150px;
    }

    #cta{
      margin-bottom: -75px; 
    }

  }

  @media (min-width: 980px){
  #project .text{
    width: 40%;
    float:left;
    text-align: center;
    margin: 80px auto;
    position: relative;
    max-width: none; 
    padding:0 5%;
  }
  #project .text:nth-child(odd){
    margin-right: 0;
  }
  }

   /* NOT mobile */
  @media (min-width: 768px) and (max-width: 1399px), (min-width: 1400px){
    
    .formy input[type="email"],.formy input[type="text"],.formy textarea{
      width:48%;
    }

    .formy input[type="submit"]{
      width: 50%;
    }

    #members,#steps{
      overflow: hidden;
    }

    .member,.step{
      max-width: none;
      margin: 40px 0;
      float:left;
      width:45%;
      margin-right: 10%;
    }

    .member:last-child,.step:nth-child(even){
      margin-right: 0;
    }

    .cv{
        right:17%;
      }
  }



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
